


 body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3edf7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px; 
}

.a4-container {
    width: 210mm; 
    min-height: 297mm; 
    padding: 10mm;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    line-height: 1.5;
    border-bottom: 2px solid #a09797;
    font-weight: bold;
}

.first {
    width: 45%;
    padding: 10px;
}

.second {
    width: 45%;
    padding: 10px;
}

.mainbody {
    padding: 10px;
}

.salesquoteHead {
    display: flex;
    justify-content: center;
    align-items: center;
}

.salesquoteid {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quoteTable {
    padding: 10px;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #a09797;
    text-align: center;
}

th {
    background-color: rgb(228, 202, 99);
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* flex-shrink: inherit; */
   /* border-radius: 600px; */
}

.footer {
    padding: 10px;
    margin-top: 10px;
    line-height: 1.5;
}

.terms-condition {
    padding: 10px;
}

@media print {
    body {
        margin: 0;
        font-size: 12px; 
    }

    .a4-container {
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    .header, .mainbody, .footer {
        page-break-inside: avoid;
    }
} 