/* Container Styling */
body {
    background-color: #e3edf7;
    font-family: Arial, sans-serif;
}

.container {
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    /* background-color: #e3edf7; */
    overflow-y: auto;
    flex-grow: 1;
    text-align: center;
    /* background-color: #4CAF50; */
}




.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    
}

.btn-primary,
.btn-save,
.btn-select,
.btn-calculate {
    background-color: #4CAF50;
    color: white;
}

.btn-estimate {
    background-color: #f0ad4e;
}

.btn-danger {
    background-color: #f37d74;
}


th,
td {
    padding: 10px;
    border: 1px solid #a09797;
    text-align: center;

}

th {
    /* width: 50px; */
    background-color: rgb(228, 202, 99);
    font-weight: 600;
    font-size: 1.1rem;
}

/* Default Input Styling */
input[type="number"] {
    width: 80%;
    padding: 0px;
    text-align: center;
}

/* Class to highlight invalid input fields */
.invalid-input {
    border: 2px solid red;
}

/* Class to center text in input fields */
.centered-input {
    text-align: center;
    /* Center the text */
    padding: 5px;
    /* Add padding for better visual spacing */
}

#componentTableOutput {
    margin-top: 20px;
    padding: 10px;
    /* background: #f9f9f9; */
    /* Background for the output area */
}

table {
    table-layout: auto;
    
    /* Default layout for variable widths */
    border-collapse: collapse;
}

.styled-table {
    border: 1px solid #000;

    /* width: 75%; */
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
    box-sizing: border-box;
    /* background-color: #fff; */
    flex-grow: 1;
    overflow-y: auto;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* Adjust the spacing between the component table and the dropdown container */
}



.dropdown-container label,
.dropdown-container select {
    margin-right: 10px;
}

.container-middle {
    width: 55%;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 50px;
    /* background-color: #e73838; */
    /* 75% of the available width */
}

.table-container {
    width: 70%; /* Take 75% of the page width */
     /* Center horizontally */
    text-align: center;
    overflow-x: auto;
    /* height: 30vh; */
    /* 70% of the container width */
}


.checkbox-input {
    transform: scale(1.8); /* Increase the size of the checkbox */
}
/* CSS for the dropdown container */
.dropdown-container {
    display: flex;
    justify-content: space-between;
    display: inline-block;
    margin-top: 5%;
    font-size: larger;
    font-weight:bold;
    font-family:sans-serif;

    /* white-space:initial; */
    /* line-gap-override:initial; */
}


.dropdown-container label {
    display:flex
;
    /* justify-content: center; */
    /* text-wrap:nowrap; */

    
}



/* Container styles */
.container-lower {
    width: 55%;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 50px;
    margin-bottom: 400px;
    /* background-color: #a09797; */
    
}

.container-lower table tr{

    border-collapse: collapse;
}
